@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE>
<html>
<head>
    <title>Вход/Регистрация</title>
    <link rel="stylesheet" href="stylesshet.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div id="shapka"></div>
    <div id="content">
        <form class="vhod">
            <input type="text" class="text" placeholder="Номер зачетки">
            <input type="password" class="text" placeholder="Пароль">
            <!--<a href="register.html" rel="register" class="linkform biton">Регистрация</a>-->
            <a asp-controller="Home" asp-action="Register">Регистрация</a>
            <input type="submit" class="biton rig" value="Вход">
        </form>
    </div>
    <div id="podval"></div>
</body>
</html>