
@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE>
<html>
<head>
    <title>Вход/Регистрация</title>
    <link rel="stylesheet" href="stylesshet.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div id="shapka"></div>
    <div id="content">
        <form class="register">
            <input type="text" class="text" placeholder="Номер зачетки">
            <input type="text" class="text" placeholder="Фамилия">
            <input type="text" class="text" placeholder="Имя">
            <input type="text" class="text" placeholder="Email">
            <input type="text" class="text" placeholder="Группа '4АПОСШ'">
            <input type="date" value="2000-01-01">
            <a href="index.html" rel="vhod" class="rig biton">Вход</a>
            <input type="submit" class="biton" value="Регистрация">
        </form>
    </div>
    <div id="podval"></div>
</body>
</html>